<html>

<head>
    <title>Orhpeos Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <% include ../templates/headTemplate.ejs %>
</head>

<body>
    <% include ../templates/navbar.ejs %>
    <%- include('../templates/backgroundPartial.ejs', {imageUrl: "/assets/city_background.jpg"}) %>
    <div class="container admin">
        <div class="row justify-content-md-center">
            <div class="col-8">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= view.title %>
                        </h5>
                        <div>
                            <form action="<%= view.postUrl %>" method="POST">

                                <% if (view.state === "UPDATE") { %>
                                <input type="hidden" name="id" value="<%= category.id %>">
                                <% } %>

                                <div class="form-group">
                                    <label for="name">Name</label>
                                    <input id="name" type="text"
                                    value="<%= category.name %>"
                                    name="name"
                                    class="form-control"
                                    placeholder="name">
                                </div>
                                <div class="form-group">
                                    <label for="username">Description</label>
                                    <textarea name="description"
                                              class="form-control"  
                                              placeholder="Description"><% if (view.state === "UPDATE") { %><%= category.description %><% } %></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="name">Parent</label>
                                    <input id="name" type="text"
                                    value="<%= category.parent %>"
                                    name="parent"
                                    class="form-control"
                                    placeholder="id of the parent">
                                </div>
                                
                                <button type="submit" class="btn btn-outline-primary">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>