<html>

<head>
    <title>Orhpeos Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <% include ../templates/headTemplate.ejs %>
</head>

<body>
    <% include ../templates/navbar.ejs %>
    <%- include('../templates/backgroundPartial.ejs', {imageUrl: "/assets/city_background.jpg"}) %>
    <div class="container admin">
        <div class="row justify-content-md-center">
            <div class="col-8">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">User Administration</h5>
                        <div>
                            <a href="/admin/users/new">new user</a>
                            <!-- page: <%= page %> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-md-center" style="margin-top: 3rem;">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Users</h5>

                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">id</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Username</th>
                                </tr>
                            </thead>
                            <tbody>

                                <% if (users) {for (var i = 0; i < users.length; i++) { %>
                                <tr>
                                    <td>
                                        <%= users[i].id %>
                                    </td>
                                    <td>
                                        <%= users[i].displayName %>
                                    </td>
                                    <td>
                                        <%= users[i].username %>
                                    </td>
                                </tr>
                                <% }}%>


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>

</html>